<div class="col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <h2>Your personal TODOList.</h2>
    <h4>Create your TODOList and start plan your day!</h4>
    <br>
    <%=  link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    or <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>

